<h1>Food Information</h1>

<% if @sellers.count == 0 %>
    <h1> There are no food entries in this category</h1>
<% else %>
    <div class="row">
    <% @sellers.each do |seller| %>
        <div class="col-md-4">        
            <a href="/sellers/<%= seller.id %>">
                <%= image_tag seller.food_img.url(:thumb), class: "food" %>
            </a>
        </div>
    <% end %>
    </div>
<% end %>

